.logOutButton {
    width: 260px;
    height: 60px;
    display: flex;
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;
    border: none;
    align-items: center;
    background-color: #000000;
    text-align: left;
    color: white;
    border: 1px solid;
    border-radius: 30px;
}

.logOutButton:hover {
    background-color: #4242428e;
    border-radius: 30px;
}

.logOutUserImage {
    display: flex;
    align-items: center;
}

.logOutUserImage img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.logOutUserName {
    margin: 0 15px;
}

.logOutUserName > div:first-child {
    font-weight: bold;
}